
@font-face {
    font-family: 'DSR';
    src: url("/fonts/DSR.ttf");
}
/*PAGE GLOBALE*/
* {
    box-sizing: border-box;
    font-family: 'DSR', cursive;
    font-size: 110%;
}
html { 
   width: 100%; 
}

                /*HEADER de toutes les pages*/
header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #F3E9F1;
}
header a {
    width: 33%;
}  
.logo {
    width: 50%;
    height: auto;
    margin-left: 5%;  
}
h1 {
 width: 33%;
    font-size: 300%;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
}
.header-cart {
    width: 33%;
    display: flex;
    justify-content: right;
}
.header-cart a img {
    width: 20%;
    float: right;
    margin: 2% 2% 2% 0;
}
.logo-cart {
    width: 80%;
}
header span {
    font-size: 2em;
    margin-top: 10%;
    margin-bottom: 0; 
}

                /*PAGES par pages*/
/*index*/
.index {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
} 
h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 2em;
    font-weight: bold;
} 
.carousel {
    width: 100%;
    background-color: white;
    margin: auto;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0px 10px 50px grey;
}
.carousel-inner {
    width: 100%;
    margin: auto;
}
.carousel-item a img {
    width: 60%;
    max-width: 900px;
    height: 50%;
    max-height: 600px;
    margin: 5% auto;
    align-self: auto;
    border-radius: 20px;
}
.carousel-indicators {
    filter: invert(100%);
}
.carousel-caption {
    border: 1px solid grey;
    border-radius: 40%;
    width: 24%;
    background-color: white;
    color: black;
    margin-bottom: 2%;
}
.carousel-caption h2 {
    font-size: 80%;
    color: black;
}
.carousel-caption span {
    color: black;
    font-size: 60%;
}
.carousel-control-prev-icon, 
.carousel-control-next-icon { 
    height: 100px; 
    width: 60px;
    filter: invert(100%);   
} 
.listing {
    display: flex;
    flex-direction: column;
}
.cam-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.cam-listing {
    width: 33%;
    margin: 5% 8%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5%;
}
.cam-listing:hover {
    box-shadow: 15px 10px 10px grey;
    transition: box-shadow 0.3s ease-in-out;
}
.cam-listing:hover::after {
    opacity: 1;
}
.cam-listing a {
    width: 100%;
    color: black;
    text-decoration: none;   
}
.cam-listing a h2, .cam-listing a span {
    text-align: center;
    font-size: 100%;
    margin-top: 10%;
}
.listing img {
    width: 100%;
    border-radius: 20px;
}


/*produits*/
#cam-ID {
    background-color: white;
    margin-top: 5%;
}
#cam-ID .row {
    margin: 0;
    height: auto;
}
#cam-ID .row h2 {
    margin-bottom: 5%;
    font-size: 300%;
}
#cam-ID .row .price {
    font-size: 150%;
}
#cam-ID .row p {
    margin-top: 5%;
    font-size: 100%;
    text-justify: auto;
}
#cam-ID .row a {
    margin-bottom: 5%;
    margin-top: 50px;
}
#cam-ID .row img {
    border-radius: 100px;
}
.camPart h2, .camPart div, .camPart span {
    margin: auto;
}
.row div .btn-primary {
    width: 50%;
    margin: 10% 25% 10% 25%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

/*panier*/
.panier {
    width: 100%;
    margin-bottom:15%;
}
.panier .prod img {
    border-radius: 30px;
}
.cam {
    width: 100%;
}
.cam p {
    font-size: 400%;
    margin-top: 10%;
    text-align: center;
}
.cam .btn-primary {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;  
    align-self: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.camPart{
    display: flex;
    justify-content: space-around;
}
table {
    margin-top: 5%;
    width: 100%;
}
table tr {
    width: 100%;
    margin-top: 2%;
}
td {
    width: 15%;
    font-size: 70%;
    margin: 0;
}
#en-tete {
    font-weight: bold;
    font-size: 150%;
    margin: 2% 0;
}
.prod {
    font-size: 150%;
}
.miniature {
    width: 15%;
}
.btn-success {
    margin: 2% 40%;
    width: 20%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.fas {  
    border: none;
    background-color: white;
    font-size: 150%;
    color: grey;
    margin-left: 6%;
    margin-right: 6%;
}
.divider {
    border: 1px solid grey;
    width: 50%;
    margin: 2% auto;
}
.form-group {
    max-width: 900px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.form-group label {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

/*confirmation*/
.corps {
    margin: 2% 10% 2% 10%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 50px black;
    padding: 2% 5%;
}
.corps p {
    width: 100%;
    font-weight: bold;   
}
.corps > .order-number {
    margin-bottom: 2%;
}
.corps > .bravo {
    font-size: 300%;
    font-weight: 800;
    text-align: center;
}
.corps > .confirm {
    font-size: 200%;
    text-justify: auto;
    text-align: center;
}
.corps > .suivi {
    font-size: 200%;
    text-align: center;
}
.corps > .merci {
    font-size: 150%;
}
.bouton {
    width: 100%;
    padding-left: 45%;
}
#confirm button {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
}

                /*FOOTER de toutes les pages*/
footer {
    position: fixed;
    bottom: 0;
    background-color: #F3E9F1;
    width: 100%;
    height: 100px;
}
.contact, .mentions {
    font-size: 1.5em;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: black;
}
.contact {
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}
.mentions {
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}